<a href="https://colab.research.google.com/github/c4c0de/50-Days-of-Machine-Learning-Sprint/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [0]:
train_data = pd.read_csv('sample_data/california_housing_test.csv')

In [11]:
train_data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [14]:
train_data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [0]:
x_train=train_data.drop('median_house_value',axis=1)
y_train=train_data.median_house_value

In [20]:
x_train.head()

   longitude  latitude  ...  households  median_income
0    -122.05     37.37  ...       606.0         6.6085
1    -118.30     34.26  ...       277.0         3.5990
2    -117.81     33.78  ...       495.0         5.7934
3    -118.36     33.82  ...        11.0         6.1359
4    -119.67     36.33  ...       237.0         2.9375

[5 rows x 8 columns]

In [19]:
y_train.head()

0    344700.0
1    176500.0
2    270500.0
3    330000.0
4     81700.0
Name: median_house_value, dtype: float64

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression()

In [24]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
model.score(x_train,y_train)

0.6203469235366266

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
my_new_model = RandomForestRegressor()
my_new_model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [28]:
my_new_model.score(x_train,y_train)

0.9503528659436161